@{
    ViewData["Title"] = "Enter a Movie";
}
<h1>@ViewData["Title"]</h1>

<!-- creates movie form page and allows for user inputs -->
@model mission6_burrows.Models.MovieForm

<form method="post">

    @if (Model != null && Model.MovieFormId != 0)
    {
        <input type="hidden" asp-for="MovieFormId" />
    }

    <label asp-for="Category">Category: </label>
    <select asp-for="Category">
        <option value="">Select a Category </option>
        @if (ViewBag.Categories != null)
        {
            foreach(Category c in ViewBag.Categories)
            {
                <option value+"@c.CategoryId">@c.CategoryName</option>
            }
        }
    </select>
    <br />
    <br />
    <label asp-for="Title">Title: </label>
    <input asp-for="Title" required />
    <br />
    <br />
    <label asp-for="Year">Year: </label>
    <input asp-for="Year" required />
    <br />
    <br />
    <label asp-for="Director">Director: </label>
    <input asp-for="Director" required />
    <br />
    <br />
    <label asp-for="Rating" for="rating">Rating:</label>
    <select asp-for="Rating" id="rating" name="rating" required>
        <option value=""> </option>
        <option value="1">G</option>
        <option value="2">PG</option>
        <option value="3">PG-13</option>
        <option value="4">R</option>
    </select>
    <br />
    <br />
    <label asp-for="Edited" for="edited">Edited:</label>
    <select asp-for="Edited" id="edited" name="edited">
        <option value=""> </option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <br />
    <label asp-for ="LentTo">Lent To: </label>
    <input asp-for="LentTo" />
    <br />
    <br />
    <label asp-for="CopiedToPlex" for="copiedtoplex">Copied to Plex:</label>
    <select asp-for="CopiedToPlex" id="copiedtoplex" name="copiedtoplex">
        <option value=""> </option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <br />
    <label asp-for ="Notes">Notes: </label>
    <input asp-for="Notes" maxlength="25" />
    <br />
    <br />

    @Html.ValidationMessageFor(m => m.Year)

    <input type="submit" value="Submit" />
</form>